/* Space For Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Root for easy */

:root {
    /* Tyhpograpy */
    --primary-fs: "Poppins", sans-serif;
    --secondery-fs: "IBM Plex Sans", sans-serif;
    /* Font Weight */
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --fw-bold: bold;

    /* Color */
    --primay-clr: #f4f4f4;
    --secondery-clr: #1a1e18;
    --bg-clr: #ffffff;
    --bg-navbar-clr: #0f0f0f;
    --text-clr-: #228b22;
    --secondery-text-clr: #4c8c2a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--bg-clr);
    scroll-behavior: smooth;
    font-family: var(--primary-font-style);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
/*---------------Navigation Bar---------- */
/* ----------Header and logo------------- */
header.header {
    width: 100%;
    background-color: var(--bg-navbar-clr);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header nav.nav {
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2rem ;
}

nav .logo {
    color: var(--bg-clr);
    font: 700 1.2rem var(--secondery-fs);
}

nav .logo i {
    font-size: .7rem;
}

nav .logo span {
    color: var(--text-clr-);
    font: bold 1.4rem var(--primary-fs);
}

/* --------------Navigation group btn------------- */
.btn_close,
.btn_toggle {
    color: var(--bg-clr);
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
}

/* -------------Navigation Bar Group Link-----------*/
.nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--bg-navbar-clr);
    width: 50%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
    z-index: 10;
}

.nav_items {
    transform: translatex(-9.5rem);
    opacity: 0;
    transition: transform .4s ease-out, opacity .4s;
}

.nav_items:nth-child(1) {
    transition-delay: .1s;
}
.nav_items:nth-child(2) {
    transition-delay: .2s;
}
.nav_items:nth-child(3) {
    transition-delay: .3s;
}

header div .nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

header .nav_link {
    position: relative;
    color: var(--bg-clr);
    font: var(--fw-500) 1.1rem var(--secondery-fs);
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
}

header .nav_link i {
    font-size: 1.1rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

header .nav_link span {
    position: relative;
    transition: margin .4s;
}

.nav_link span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.28rem;
    width: 0%;
    height: 2px;
    background-color: var(--bg-clr);
    transition: width .4s ease-out;
}

/* --------------Animation Group Navbar link----------- */
.nav_link:hover span {
    margin-left: 1.4rem;
}

.nav_link:hover i {
    opacity: 1;
    visibility: visible;
}

.nav_link:hover span::after {
    width: 100%;
}

.nav_list:has(.nav_link:hover) .nav_link:not(:hover) {
    opacity: .5;
}

/* -----------Btn Group------------ */
div.btn_close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* ---------For Show Menu Js----------- */
.show-menu {
    left: 0;
}

.show-menu .nav_items {
    transform: translateX(0);
    opacity: 1;
}


/* -----------Main Header---------- */ 
main {
    font-family: var(--primary-fs);
}

/* ------------Header Title---------  */

section .title_wrap {
    width: 100%;
    height: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin: 8rem auto;
    padding-inline-start: .5rem;
}

section .title_wrap .title {
    color: var(--text-clr-);
    font: bold 1.6rem var(--primary-fs);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

section .title_wrap .greating {
    width: 80%;
    font-size: 1.1rem;
    color: var(--bg-navbar-clr);
    opacity: .6;
    color: var(--secondery-text-clr);
}

/* ----------Main Features And Contact -------------*/
main section.features {
    margin-inline: 1.5rem;
}

section.features .fcontainer {
    display: flex;
    flex-direction: column;
}

section.features figure img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.4rem;
    box-shadow: 7px 5px 10px 0 4px 6px rgba(0, 0, 0, 0.1),  
                0 8px 10px rgba(0, 0, 0, 0.1),
                0 12px 15px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

section.features figure q {
    opacity: .7;
    text-transform: capitalize;
    font-size: 0.8rem;
}

/* ----------Profil and Details------------ */
/* Profile */
.body_card {
    display: flex;
    gap: .7rem;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
figure.author {
    flex-shrink: 0;
}
section .fcontainer .author .profile_author{
    width: 3rem;
    height: 3rem;
    height: max-content;
    border-radius: 50%;
    object-fit: cover;
}
/* Details */
.author_container {
    display: flex;
    flex-direction: column;
}

.author_container h5 {
    position: relative;
}

.author_container h5 span {
    display: inline-block;
    position: relative;
    transform: translateY(-0%);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.author_container h5 span:hover {
    transform: translateY(-30%);
}

.author_container .author_description em {
    font-size: 0.8rem;
    opacity: .7;
}

/* -------Features and Advantage--------- */
section .features_details {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

section .features_details .title_features {
    width: 100%;
    text-align: center;
    color: var(--secondery-text-clr);
    opacity: .8;
}

section .features_details .title_features i {
    font-size: .8rem;
    color: var(--bg-navbar-clr);
}

section .ol_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 1.7rem;
    text-align: center;
    position: relative;
}

section .ol_wrapper:nth-child(1) {
    flex: 1 ;
}
section .ol_wrapper:nth-child(2) {
    flex: 1;
}

section .ol_wrapper:nth-child(3) {
    flex: 1;
}


section .ol_wrapper li {
    background-color: var(--bg-navbar-clr);
    color: var(--bg-clr);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1.3rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}


section .ol_wrapper li.li_dua{
    transform: scale(1.2);
    background-color: var(--secondery-text-clr) ;
    color: var(--bg-clr);
}

/* ----------------Our Packages---------------- */

main section.package_container {
    margin-top: 10rem;
}


main .package_container h3.title_package {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-clr-);
    margin: 4rem auto; 
}

.package_container .card_container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
}

/* --------------Image Settins----------- */

.card_container article {
    display: grid;
    gap: 2rem;
    place-items: center;
    position: relative;
}

.card_container article img {
    width: 80%;
    height: 90%;
    border-radius: 1.5rem;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
}

/* -------------Card title------------- */

.card_container article .bg_card_title {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    border: 1px solid var(--bg-clr);
    transition: background-color .4s ease-in-out;
}

.card_container article .bg_card_title:hover {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid var(--bg-navbar-clr);
}

.card_container article .card_title {
    color: var(--bg-clr);
    font-size: .6rem;
    padding: .5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .4s ease-out;
}

/* -----------card text------------- */

section .card_container article .card_introduction1{
    color: var(--bg-clr);
    font-size: .9rem;
    position: absolute;
    bottom: 3rem;
    right: 2.5rem;
    opacity: .8;
}
section .card_container article .bg_card_text1 {
    background-color: var(--bg-clr);
    position: absolute;
    bottom: 4.9rem;
    right: 2.7rem;
    backdrop-filter: blur(3px);
    border: 1px solid var(--bg-clr);
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    backdrop-filter: blur(10px);
}

.card_container article .card_description1{
    font-size: .6rem;
    color: var(--bg-navbar-clr);
    opacity: .7;
}

/* --------------Button Card--------------- */
.card_container article .bg_card_btn {
    /* position: absolute; */
    left: 4rem; bottom: 7rem;

}

.card_container article .card_btn {
    font-size: .8rem;
    color: var(--bg-clr);
}


/* --------------------Responsif for Mobile Small ------------------*/
@media screen and (max-width: 500px) {
    header nav.nav {
        margin-inline: 1rem;
    }
    section .title_wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 60vh;
      align-items: center;
    justify-content: center;
      padding: .5rem;
      margin-top: 10rem;
    }
   ol.ol_wrapper {
    flex-direction: column;
    gap: 1rem;
   }
   section .ol_wrapper li.li_dua {
        transform: none;
        background-color: var(--bg-navbar-clr);
   }
}



/* Responsive Design For Dekstop And Tablet */
@media screen and (min-width: 768px) {

    .nav {
        height: calc(4rem + 1rem);
    }

    .btn_toggle,
    .btn_close {
        display: none;
    }
    .package_list {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk layar tablet */
    }
}