/* Space For Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Root for easy */

:root {
    /* Tyhpograpy */
    --primary-font-style: "Poppins", sans-serif;
    --secondery-font-style: "IBM Plex Sans", sans-serif;
    /* Font Weight */
    --font-weight-primary: 500;
    --font-weight-secondery: 700;
    --font-title: 800;
    --font-title-semi-bold: 900;
    --font-title-bold: bold;

    /* Color */
    --primay-clr: #f4f4f4;
    --secondery-clr: #1a1e18;
    --bg-clr: #ffffff;
    --bg-navbar-clr: #0f0f0f;
    --text-clr-nav: #228b22;
    --primary-clr-title: #4c8c2a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--bg-clr);
    scroll-behavior: smooth;
    font-family: var(--primary-font-style);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* Navigation */

body nav.container {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Group Logo */
nav .logo_containaer {
    display: flex;
    padding: 1rem 1.5rem;
   background-color: var(--bg-navbar-clr);
    justify-content: space-between;
    align-items: center;
}

nav .nav_logo .logo {
    color: var(--bg-clr);
    font: 700 1.7rem var(--secondery-font-style);
}

.nav_logo sup i {
    font-size: 0.8rem;
}

.nav_logo .logo .title_color {
    color: #4c8c2a;
    font-size: 1.8rem;
}

nav .nav_menu_btn {
    font-size: 1.7rem;
    color: var(--bg-clr);
    cursor: pointer;
}

/* Group Link */

nav .nav_link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-clr-nav);
    z-index: -1;
    transition: transform .5s;
    transform: translateY(0%);
}

.nav_link.open {
    transform: translateY(100%);
}

@media screen and (max-width: 767px) {

}